<h1><%=@user.user_name %></h1>
<p><%=@user.about %></p>

<%= link_to 'Edit', edit_user_path %>
<%= link_to 'Delete', user_path, method: :delete, data: {confirm:"are you sure?"} %><br>
<%= link_to 'Back to all users', users_path %>
